apps/geolocation_application_server/Modem.json
[
    {
        "id": "7dba9545aac16e85",
        "type": "tab",
        "label": "Modem",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05ea630fadcbbd7d",
        "type": "http request",
        "z": "7dba9545aac16e85",
        "name": "Query Modem & Geolocation Services",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 1130,
        "y": 1020,
        "wires": [
            [
                "a393f8a8d8205afe"
            ]
        ]
    },
    {
        "id": "a393f8a8d8205afe",
        "type": "link out",
        "z": "7dba9545aac16e85",
        "name": "",
        "links": [
            "b6c609c1c84114af",
            "b0d243938c0a13f7"
        ],
        "x": 1355,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b6c609c1c84114af",
        "type": "link in",
        "z": "7dba9545aac16e85",
        "name": "To Modem & Geolocation Services parser",
        "links": [
            "a393f8a8d8205afe",
            "cc27d4fc.5a225"
        ],
        "x": 615,
        "y": 1180,
        "wires": [
            [
                "958a89ed321e91a1"
            ]
        ]
    },
    {
        "id": "a850a3e34c8c7a05",
        "type": "comment",
        "z": "7dba9545aac16e85",
        "name": "_________________________      Device & Application Services      _________________________",
        "info": "",
        "x": 1130,
        "y": 960,
        "wires": []
    },
    {
        "id": "6f0aa9cb889dd254",
        "type": "comment",
        "z": "7dba9545aac16e85",
        "name": "_________________________      Network Server Connection      _________________________",
        "info": "",
        "x": 1080,
        "y": 340,
        "wires": []
    },
    {
        "id": "4dfaee48c01b1fb0",
        "type": "inject",
        "z": "7dba9545aac16e85",
        "name": "Modem & Geolocation Services url",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "https://mgs.loracloud.com",
        "payloadType": "str",
        "x": 800,
        "y": 120,
        "wires": [
            [
                "d7e927e9c7531e54"
            ]
        ]
    },
    {
        "id": "d7e927e9c7531e54",
        "type": "function",
        "z": "7dba9545aac16e85",
        "name": "Modem & Geolocation Services url",
        "func": "global.set('mgs_url', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7fac8afba5ed5664",
        "type": "inject",
        "z": "7dba9545aac16e85",
        "name": "Modem & Geolocation Services server token",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 770,
        "y": 80,
        "wires": [
            [
                "02a1b83864ab78c2"
            ]
        ]
    },
    {
        "id": "02a1b83864ab78c2",
        "type": "function",
        "z": "7dba9545aac16e85",
        "name": "Modem & Geolocation Services server token",
        "func": "global.set('mgs_token', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fccf7aae037100a2",
        "type": "comment",
        "z": "7dba9545aac16e85",
        "name": "License",
        "info": "The Clear BSD License\nCopyright Semtech Corporation 2022. All rights reserved.\n\nRedistribution and use in source and binary forms, with or without\nmodification, are permitted (subject to the limitations in the disclaimer\nbelow) provided that the following conditions are met:\n * Redistributions of source code must retain the above copyright\n   notice, this list of conditions and the following disclaimer.\n * Redistributions in binary form must reproduce the above copyright\n   notice, this list of conditions and the following disclaimer in the\n   documentation and/or other materials provided with the distribution.\n * Neither the name of the Semtech corporation nor the\n   names of its contributors may be used to endorse or promote products\n   derived from this software without specific prior written permission.\n\nNO EXPRESS OR IMPLIED LICENSES TO ANY PARTY'S PATENT RIGHTS ARE GRANTED BY\nTHIS LICENSE. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND\nCONTRIBUTORS \"AS IS\" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT\nNOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A\nPARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL SEMTECH CORPORATION BE\nLIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR\nCONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF\nSUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS\nINTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN\nCONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)\nARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE\nPOSSIBILITY OF SUCH DAMAGE.\n",
        "x": 1550,
        "y": 40,
        "wires": []
    },
    {
        "id": "9fa716a173fd9858",
        "type": "debug",
        "z": "7dba9545aac16e85",
        "name": "Modem & Geolocation Services - Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1290,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d3eae98604b7d2fc",
        "type": "debug",
        "z": "7dba9545aac16e85",
        "name": "Modem & Geolocation Services - Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1290,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ef3e6f1e8ea509b3",
        "type": "debug",
        "z": "7dba9545aac16e85",
        "name": "Modem & Geolocation Services - Stream",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b539c0bbf5950123",
        "type": "mqtt out",
        "z": "7dba9545aac16e85",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1210,
        "y": 1680,
        "wires": []
    },
    {
        "id": "ea260b4ae038b68c",
        "type": "link in",
        "z": "7dba9545aac16e85",
        "name": "To Modem & Geolocation Services - Joining",
        "links": [
            "51468252a3cb0c1d",
            "6ccdfdbcd9cc8757"
        ],
        "x": 675,
        "y": 1020,
        "wires": [
            [
                "e049787688cbbbfe"
            ]
        ]
    },
    {
        "id": "e049787688cbbbfe",
        "type": "function",
        "z": "7dba9545aac16e85",
        "name": "Set url and credentials",
        "func": "var api = 'api/v1/device/send';\nmsg.method = 'post';\n\nmsg.url = `${global.get('mgs_url')}/${api}`;\nmsg.headers = {'Authorization': global.get('mgs_token')};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1020,
        "wires": [
            [
                "05ea630fadcbbd7d"
            ]
        ]
    },
    {
        "id": "718e95b8de2459b9",
        "type": "mqtt in",
        "z": "7dba9545aac16e85",
        "name": "TTN v3 - Uplinks",
        "topic": "v3/+/devices/+/up",
        "qos": "2",
        "datatype": "auto",
        "broker": "",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 740,
        "wires": [
            [
                "fe126db05f4230c4"
            ]
        ]
    },
    {
        "id": "fe126db05f4230c4",
        "type": "loracloud-utils-connectors-ttn-v3-in",
        "z": "7dba9545aac16e85",
        "name": "",
        "port": "199",
        "x": 950,
        "y": 740,
        "wires": [
            [
                "2e2e7d3852aa65fa"
            ],
            [
                "6ccdfdbcd9cc8757"
            ]
        ]
    },
    {
        "id": "2e2e7d3852aa65fa",
        "type": "link out",
        "z": "7dba9545aac16e85",
        "name": "",
        "mode": "link",
        "links": [
            "384539b7.56d456"
        ],
        "x": 1225,
        "y": 720,
        "wires": []
    },
    {
        "id": "6ccdfdbcd9cc8757",
        "type": "link out",
        "z": "7dba9545aac16e85",
        "name": "",
        "links": [
            "ea260b4ae038b68c"
        ],
        "x": 1135,
        "y": 760,
        "wires": []
    },
    {
        "id": "ebde437671567dda",
        "type": "mqtt in",
        "z": "7dba9545aac16e85",
        "name": "TTN v3 - joinReq",
        "topic": "v3/+/devices/+/join",
        "qos": "2",
        "datatype": "auto",
        "broker": "",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 740,
        "y": 800,
        "wires": [
            [
                "fe126db05f4230c4"
            ]
        ]
    },
    {
        "id": "deaf73f385367b31",
        "type": "inject",
        "z": "7dba9545aac16e85",
        "name": "devEuis",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "[\"00-00-00-00-00-00-00-00\"]",
        "payloadType": "json",
        "x": 880,
        "y": 160,
        "wires": [
            [
                "4f6d614c20a36a1c"
            ]
        ]
    },
    {
        "id": "4f6d614c20a36a1c",
        "type": "function",
        "z": "7dba9545aac16e85",
        "name": "Set deveuis",
        "func": "global.set('deveuis', msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5c61abd507afd702",
        "type": "link out",
        "z": "7dba9545aac16e85",
        "name": "File from Modem & Geolocation Services",
        "links": [
            "7be61cc39030c710"
        ],
        "x": 1115,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c3641616ba3e962d",
        "type": "link out",
        "z": "7dba9545aac16e85",
        "name": "Downlink from Modem & Geolocation Services",
        "links": [
            "40ef72fcfdd7dc53"
        ],
        "x": 1115,
        "y": 1220,
        "wires": []
    },
    {
        "id": "40ef72fcfdd7dc53",
        "type": "link in",
        "z": "7dba9545aac16e85",
        "name": "To network server downlink",
        "links": [
            "c3641616ba3e962d",
            "9092f899b8c4f9de"
        ],
        "x": 835,
        "y": 1680,
        "wires": [
            [
                "bf9a1c421e56b55f",
                "d99058bdc179f69a"
            ]
        ]
    },
    {
        "id": "9da35922b8589119",
        "type": "comment",
        "z": "7dba9545aac16e85",
        "name": "_________________________      Downlink management      _________________________",
        "info": "",
        "x": 1140,
        "y": 1440,
        "wires": []
    },
    {
        "id": "229c41f6a22ab74e",
        "type": "link out",
        "z": "7dba9545aac16e85",
        "name": "Stream from Modem & Geolocation Services",
        "mode": "link",
        "links": [
            "b5df30f7.7e3348"
        ],
        "x": 1555,
        "y": 1180,
        "wires": []
    },
    {
        "id": "958a89ed321e91a1",
        "type": "loracloud-utils-connectors-mgs-parser",
        "z": "7dba9545aac16e85",
        "name": "",
        "x": 850,
        "y": 1180,
        "wires": [
            [
                "d3eae98604b7d2fc"
            ],
            [
                "5c61abd507afd702"
            ],
            [
                "ef3e6f1e8ea509b3",
                "229c41f6a22ab74e"
            ],
            [
                "c3641616ba3e962d"
            ],
            [
                "9fa716a173fd9858"
            ]
        ]
    },
    {
        "id": "bf9a1c421e56b55f",
        "type": "debug",
        "z": "7dba9545aac16e85",
        "name": "Modem & Geolocation Services - Downlink",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1110,
        "y": 1760,
        "wires": []
    },
    {
        "id": "d99058bdc179f69a",
        "type": "loracloud-utils-connectors-downlink-generator",
        "z": "7dba9545aac16e85",
        "name": "",
        "x": 1040,
        "y": 1680,
        "wires": [
            [
                "b539c0bbf5950123",
                "6abc957353169abc"
            ]
        ]
    },
    {
        "id": "6abc957353169abc",
        "type": "debug",
        "z": "7dba9545aac16e85",
        "name": "Downlink Generator output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 1640,
        "wires": []
    },
    {
        "id": "6d5dc22a6ac195ef",
        "type": "function",
        "z": "7dba9545aac16e85",
        "name": "Generate downlink message",
        "func": "deveuis = global.get('deveuis').map(raw => raw.replace(/-/g, \"\"));\nlns_configurations = global.get('lns_configurations') || {};\n\nconst all_out_msg = deveuis.map(deveui =>{\n    return {\n    \"payload\":{\n        \"payload\":msg.payload.payload,\n        \"port\": msg.payload.port,\n    },\n    \"uplink\":lns_configurations[deveui].uplink,\n    \"topic\":lns_configurations[deveui].topic,\n       }\n    }\n);\n\nreturn [all_out_msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1200,
        "y": 1520,
        "wires": [
            [
                "0cfea6a079ee675e",
                "9092f899b8c4f9de"
            ]
        ]
    },
    {
        "id": "0cfea6a079ee675e",
        "type": "debug",
        "z": "7dba9545aac16e85",
        "name": "Generated downlink message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 1520,
        "wires": []
    },
    {
        "id": "9092f899b8c4f9de",
        "type": "link out",
        "z": "7dba9545aac16e85",
        "name": "",
        "links": [
            "40ef72fcfdd7dc53"
        ],
        "x": 1375,
        "y": 1520,
        "wires": []
    },
    {
        "id": "d0d7a43f5f470d77",
        "type": "inject",
        "z": "7dba9545aac16e85",
        "name": "Example of message to downlink",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"payload\":\"001122\",\"port\":2}",
        "payloadType": "json",
        "x": 730,
        "y": 1520,
        "wires": [
            [
                "6d5dc22a6ac195ef"
            ]
        ]
    },
    {
        "id": "3deb60d65e1724e0",
        "type": "inject",
        "z": "7dba9545aac16e85",
        "name": "Turn On LED",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"payload\":\"4F0101\",\"port\":151}",
        "payloadType": "json",
        "x": 790,
        "y": 1560,
        "wires": [
            [
                "6d5dc22a6ac195ef"
            ]
        ]
    },
    {
        "id": "19522933b0a4c7b6",
        "type": "inject",
        "z": "7dba9545aac16e85",
        "name": "Turn Off LED",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"payload\":\"4F0100\",\"port\":151}",
        "payloadType": "json",
        "x": 790,
        "y": 1600,
        "wires": [
            [
                "6d5dc22a6ac195ef"
            ]
        ]
    },
    {
        "id": "59b9e6f3cea43fef",
        "type": "comment",
        "z": "7dba9545aac16e85",
        "name": "To Geolocation Payload Handler",
        "info": "",
        "x": 1390,
        "y": 720,
        "wires": []
    }
]